
.container {
    text-align: center;
    width: 25%;
    height: 100vh;
    background-color: white;
    border: 2px solid white;
    position: relative;
}
body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    align-items: center;
    width: auto;
    height: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
label{
    display: block;
    margin-bottom: 10px;
}

input[type=text]{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 88%;
    height: 4vh;
    background-color: transparent;
    color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    border-color: black;
    cursor: pointer;
    color: black;
}

.styles {
    color: black
}

.userInputScreen
{
    position: relative;
    
    width: 100%;
    height: 85vh;
    color: black;
    background-color: transparent;
    overflow: auto;
}

.userInput
{
    width: auto;
    height: auto;
    color: black;
    background-color: lightblue;
    border-radius: 25px;

}