* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
 /* Is the main background for the whole hmtl */  
html {      
  background-color: #DFFDE0;
}
/* Is the font for the the buttons */
@font-face { 
  font-family: 'RobotSerif';
  src: url(./font/RobotoSerif-Medium.ttf);
}
/* Is the font for the text for instance question title and greetings, etc */
@font-face {
  font-family: 'Tomorrow';
  src: url(./font/Tomorrow-Medium.ttf);
}
/* Class for the text */
.bot {
  font-family: 'Tomorrow';
  color: #4F1EB0;
}

/* Class for the user interaction */
.user { 
  font-family: 'RobotSerif';
  color: #9ECB98;
}

/* Class for the alternatives "Hitta program", "Räkna antagningspoäng", "Se behörighetskrav", and "Om oss" */
.siteNavigation { 
  font-family: 'Tomorrow';
  color: #61855A;
}

/* Styling for the links */
a { 
  font-family: 'Tomorrow';
  color: #61855A;
}

/* Highlights and swaps the background color and text color */
a:hover {
  background-color: #61855A;
  color: #DFFDE0; 
}

/* Standard styling for text */
p {
  font-weight: normal;
  text-align: center;
}

/* Styling for the greeting ("Hej!") typewriter animation */
.typewriter_greeting p {
  overflow: hidden;
  border-right: .15em solid #4F1EB0;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0;
  opacity: 0;
  animation: 
    appear 0s 1s forwards, 
    typing 1.0s steps(20, end) 1s forwards, 
    blink-caret .75s step-end infinite 1s; 
}

/* Styling for the question ("Vill du gå på högskola eller universitet?") typewriter ani */
.typewriter_question p {
  overflow: hidden;
  border-right: .15em solid #4F1EB0;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0;
  opacity: 0;
  animation: 
    appear 0s 1s forwards, 
    typing 2.0s steps(20, end) 1s forwards, 
    blink-caret .75s step-end infinite 1s; 
}
  /* keyframes takes care of the functionality of the typewriter animation */
  @keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #4F1EB0; }
}
/*
  End of General
  ---===---===---===---===---===---===---===---===---===---
  Start of Header
*/

/* Dimensioning of the background and positioning for logo for the color gradient*/
header {
   width: 100vw;
   height: 10vw;
   top: 0;
   left: 0;
   position: fixed; 
   background-image: linear-gradient(#DFFDE0 10%, transparent)   
   
 }
 
 /* Fixes the position of the uniu logo */
 header img{
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
 }
/*
  End of Header
  ---===---===---===---===---===---===---===---===---===---
  Start of Body
*/

/* Styling for the question and greeting class */
.question, .greeting{
  font-family: 'Tomorrow';
  color: #4F1EB0;
  font-size: 4vw;
}

/* Styling and positioning of the body */
.body {
  width: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  z-index: 1; 
  margin-top: 10vw;
}

/* Positioning of the typewriter animation*/
.body .typewriter {
  margin: 2vw;
  width: min-content;
  margin: 0 auto;
}

/* Styling and positioning */
.body .universityForYou {
  width: 40vw;
  height: 8vw;
  margin: 8vw auto 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 20vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
/* Button  animation dimention and color*/
.body .universityForYou button {
  height: inherit;
  background-color: #DFFDE0;
  border: none;
  border-radius: 1vw;
  transform: translateY(500%);
  animation: floatUp 2.0s ease-out forwards;
  animation-delay: 0.5s;
}
/* keyframes takes care of the functionality of the buttons animations */
@keyframes floatUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Text inside the buttons color and font size */
.body .universityForYou button p {
  color: #61855A;
  font-size: 4vw;
}
/* hover color change buttons*/
.body .universityForYou button:hover {
  background-color: #61855A;
}
/* hover color change text */
.body .universityForYou button:hover p {
  color: #DFFDE0;
}


/*
  End of Body
  ---===---===---===---===---===---===---===---===---===---
  Start of Footer
*/
/* Footer dimetionns and postion*/
footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 98%;
  height: 4vw;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1%;
  display: inline-block;
  background-color: #DFFDE0;
  font-size: 1vw;
}
/* Footer Navbar annd line dimetionns and position */
.footerLeft {
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  display: inline-block;
}
/* Devidig line footer */
.footerLine {
  top: 0;
  height: 4px;
  position: relative;
  background-color: #4F1EB0;
}
/*  Navbar wrapper */
.footerListDiv {
  margin-left: 2%;
  margin-right: 2%;
}
/* Footer navbar grid */
.footerList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1vw;
  margin-top: 2%;
}
/* Text logo wrapper dimetion and position */
.footerLogoDiv {
  height: 100%;
  width: auto;
  bottom: 0;
  right: 0;
  height: 100%;
  float: right;
}
/* Text logo size */
.footerLogoDiv img {
  height: 100%;
}
/*
  End of Footer
  ---===---===---===---===---===---===---===---===---===---
*/