@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1vw;
}

html {
  background-color: #DFFDE0;
}

@font-face {
  font-family: 'RobotSerif';
  src: url(./font/RobotoSerif-Medium.ttf);
}

@font-face {
  font-family: 'Tomorrow';
  src: url(./font/Tomorrow-Medium.ttf);
}

.bot {
  font-family: 'Tomorrow';
  color: #4F1EB0;
}

.user {
  font-family: 'RobotSerif';
  color: #9ECB98;
}

.siteNavigation {
  font-family: 'Tomorrow';
  color: #61855A;
}

a {
  font-family: 'Tomorrow';
  color: #61855A;
}

/* Highlights and inverts the background color and text color */
a:hover {
  background-color: #61855A;
  color: #DFFDE0; 
}

p {
  font-weight: normal;
  font-style: medium;
  text-align: left;
}

.typewriter p {
  overflow: hidden;
  border-right: .15em solid #4F1EB0; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4F1EB0; }
}
/*
  End of General
  ---===---===---===---===---===---===---===---===---===
  Start of Header
*/
header {
   width: 100%;
   height: 10vw;
   top: 0;
   left: 0;
   position: fixed; 
   background-image: linear-gradient(#DFFDE0 10%, transparent)   
   
 }
 
 header img{
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
 }
/*
  End of Header
  ---===---===---===---===---===---===---===---===---===
  Start of Body
*/
.body {
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  z-index: 1; 
  margin-top: 5vw;
  
}
/*
  End of Body
  ---===---===---===---===---===---===---===---===---===
  Start of Footer
*/
footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 4vw;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1%;
  display: inline-block;
  background-color: #DFFDE0;
}

.footerLeft {
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  display: inline-block;
}

.footerLine {
  top: 0;
  height: 4px;
  position: relative;
  background-color: #4F1EB0;
}

.footerListDiv {
  margin-left: 2%;
  margin-right: 2%;
}

.footerList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  margin-top: 2%;
}

.footerLogoDiv {
  height: 100%;
  width: auto;
  bottom: 0;
  right: 0;
  height: 100%;
  float: right;
}

.footerLogoDiv img {
  height: 100%;
}
/*
  End of Footer
  ---===---===---===---===---===---===---===---===---===
*/


