@media all and (min-width: 0px) and (max-width: 480px) {
	:root {
		--s-text: 2.6vw;
		--m-text: 3.4vw;
		--l-text: 4vw;
		--xl-text: 6vw;
		--xxl-text: 10vw;
		--border-radius: 1vw;
		--text-form-height: 8vw;
	}

	/*
    End of General
    ---===---===---===---===---===---===---===---===---===---
    Start of Header
  */
	header {
		height: 10vh;
	}

	/* Fixes the position of the uniu logo */
	header img {
		display: none !important;
	}

	/*
    End of Header
    ---===---===---===---===---===---===---===---===---===---
    Start of Main
  */
	.wrapper {
		padding-right: 5vw;
		padding-left: 5vw;
	}

	/*
    End of Main
  ---===---===---===---===---===---===---===---===---===---
    Start of Welcome
  */
	/* Styling and positioning */
	.answers {
		grid-gap: 15vw;
		width: 80%;
		height: 5em;
	}

	/*
  End of Welcome
  ---===---===---===---===---===---===---===---===---===---
  Start of Intrest
*/
	.chooseInterestWrapper {
		grid-template-rows: 0fr 1fr 0fr 1fr 0fr;
	}

	.selectedInterestList,
	.notSelectedInterestList {
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(2, 1fr);
		max-width: 100%;
	}

	.interestColumn {
		display: grid;
		width: 100%;
	}
	.selectedInterestTitle{
		padding-top: 1vh;
	}
	.recommendationArrow{
		height: 1vh;
	}

	.wildcardBubble {
	position: unset;
	margin-top: 1vh;
	animation: pulse 2s infinite ease-in-out alternate;
	}
	@keyframes pulse {
		from { transform: scale(0.9); }
		to { transform: scale(1); }
	  }

	.interestItem,
	.placeholderInterest {
		width: 100%;
		min-height: 1.5em;
		max-height: 4em;
		display: flex;
		overflow: hidden;
	}
	.interestItem *,
	.placeholderInterest * {
		margin: auto;
	}

	.interestInputWrapper {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: fit-content;
		margin-top: 0;
	}

	.textInputWrapper {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.refreshButtonInputWrapper {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.dreamEducationButtonInputWrapper {
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.dreamEducationButtonInputWrapper .buttonInput {
		background-color: darkgray;
		border-color: gray;
	}
	.dreamEducationButtonInputWrapper:not(.locked) .buttonInput {
		background-color: var(--medium-purple);
		border-color: var(--dark-purple);
	}

	.selectedButton,
	.notSelectedButton {
		width: 100%;
		height: 100%;
	}
	.disabledNotSelectedButton {
		background-color: #A9A9A9;
		cursor: not-allowed;
		width: 100%;
		height: 100%;
	}
	.recommendationButtonWrapper {
		overflow: hidden;
		margin: 0 auto;
		transition: 0.5s;
		cursor: pointer;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 10vw;
	}
	.recommendationButtonWrapper hr,
	.recommendationButtonLine {
		flex-grow: 1;
		border: var(--border-width) solid var(--medium-green);
	}
	/* Styling for the 'find my dream education' button, with locked properties */
	.dreamEducationButton:not(.locked) p {
		-webkit-text-stroke: 0;
		color: var(--dark-purple);
	}
	.dreamEducationButton:not(.locked):hover p {
		text-shadow: 2px 1px var(--medium-green-shadow);
	} 
	/*
  End of Intrest
 ---===---===---===---===---===---===---===---===---===---
  Start of Recommendation
*/
	.recommendedWrapper,
	.gradeWrapper {
		padding-top: 2vh;
		position: relative;
		width: 100%;
		margin: 0 auto;
	}

	.loadingGIF img {
		display: block;
		width: 10vw;
		margin: 1vw auto 0;
		padding-top: 15%;
		scale: 2.5;
	}

	.showInterestBox {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 0 auto;
	}

	.interestReq {
		padding: 0.5em 1em;
		background-color: var(--medium-green);
		border: var(--border-width);
		font-size: var(--s-text);
		font-family: "Tomorrow-MediumItalic";
		color: var(--extra-light-green);
	}

	.recommendedWrapper p,
	.recommendedWrapper a {
		line-height: 1em;
		text-align: left;
	}

	.yourInterestBox,
	.recommendedBox,
	.gradeBox {
		margin-top: var(--gap-size);
	}
	.tilteReq {
		font-size: var(--l-text);
	}
	/*
  	End of Recommendation
  ---===---===---===---===---===---===---===---===---===---
		Start of Count
	*/
	/*
		End of Count
  ---===---===---===---===---===---===---===---===---===---
  	Start of Footer
	*/
	/* Footer dimetionns and postion*/
	footer {
		left: 0;
		width: 100%;
		height: var(--xxl-text);
		z-index: 10;
		background-color: var(--extra-light-green);
		padding: 0 1vw 1vw 0;
	}

	.footerNav {
		height: inherit;
		background-color: var(--extra-light-green);
	}

	ul {
		list-style-type: none;
	}

	.hamburger-nav {
		background-color: var(--extra-light-green);
		border-top: 2px solid var(--dark-purple);
		border-radius: 0;
	}

	.hamburger-icon {
		display: block;
		margin: auto;
		height: 100%;
		padding-top: 3%; 
	}

	.dropdown-menu {
		background-color: var(--extra-light-green);
	}

	.dropdown-menu * {
		font-size: var(--xl-text);
		text-align: center;
		line-height: 1.5em;
	}

	/* Dividing line footer */
	.footerLine {
		top: 0;
		width: 100%;
		height: 0.4vh;
		position: relative;
		background-color: var(--dark-purple);
	}


	.footerLineAnimDown {
		transform: translateY(calc(var(--xl-text) * 1.5 * -4));
		transition: transform 0.5s ease;
	}

	.footerLineAnimUp {
		transform: translateY(0);
		transition: transform 0.5s ease;
	}
	/*
  	End of Footer
  ---===---===---===---===---===---===---===---===---===---
	*/
}
